*{
    padding: 0;
    margin: 0;
    
}
body{
    font: arial;
    background-color: black;
    margin: auto;
}

header{
    background-color: rgb(111, 199, 71);
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 1%;
}

section{
    padding: 2%;
    background-image: url("https://sm.ign.com/t/ign_br/screenshot/default/stardew-valley-multiplayer-v2-pn-n_4ydg.h720.jpg");
    background-size: cover;
    overflow: hidden;
    height: 60%;
}

.formDiv{
    max-width: 18%;
    background-color:#ffffffbb;
    padding: 2%;
    float: right;
}

h2{
    font-size: 16px;
}
h2,p{
    margin-bottom: 5%;
}

input, select{
    width: 100%;
    box-sizing: border-box;
    padding: 5% ;
    border: none;
    margin-bottom: 5%;
}

input[type="submit"]{
    color: white;
    background-color:rgb(111, 199, 71) ;
    font-weight: bold;
}

footer{
   
    height: 20%;
    background-color: rgba(121, 80, 42, 0.993);
    padding: 5%;
    text-align: center;
}

.imagem{
    width: 16%;
    border-radius: 5%;
}

.descricao{
    display: inline-block;
    text-align: left;
    color: white;
    max-width: 40%;
    margin-left: 5%;
}
.descricao p, .descricao h3{
    margin-bottom: 5%;
}
h3{
    font-size: 24px;
}
.descricao p{
    font-size: 18px;
}